@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	background: #fafafa;
	height: 122vh;
	font-weight: bold;
}
*{
	margin: 0px; padding: 0px; 
	font-family: 'Montserrat', sans-serif;
}
.main{
	background-color: white;
	height: 95%;
	width: 760px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 60%;
	box-shadow: 5px 2px 14px 10px #eeeaea;
}
.left{
	padding: 0px 0px 0px 20px;
	width: 200px;
	height: 100%;
	float: left;
}
.right{
	width: 430px; 
	float: left;
	margin-left: 95px;
}
.box1{
	position: relative;
}
.p1{
	padding: 10px 0px; 
	font-size: 11px;
}
.icons1{
	font-size: 16px!important;
	padding-right: 10px!important;
	vertical-align: sub;
}
.skill{
	margin-left: 20px;
	font-size: 12px;
	font-weight: normal;
}
.skill li{
	padding: 13px 0px;
}
.nameDiv{
	padding: 86px 0px 60px 55px;
	text-align: center;
	letter-spacing: 3px;
	flex: 2;
}

.nameDiv h1{
	margin-bottom: 10px;
}

.containerDiv {
	padding-bottom: 40px;
    text-align: center;
    position: relative; 
}

.containerDiv::after{
	content: '';
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 90%; 
    height: 1px; 
    background-color: #090909; 
}

.imgDiv{
	float: left;
	flex: 1;
	margin: 30px 0 0 20px;

}

.img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.box2{
	padding: 0px 50px; 
	margin-top:30px;
}
.p2{
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	margin-top: 5px;
}
h2{
	font-size: 16px; 
	margin-bottom: 15px;
}